<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  The Ruby on Rails Tutorial is a book on web development,
  not web design, but it would be depressing to work on an application that looks like complete crap.
</p>